# 1 Assignment 3

1. Generate a function named **beta_OLS**. This function must return the estimated beta using OLS. The inputs of this function should be `X`, `y`, and `intercept`. `X` (covariables) must be a **pd.DataFrame** and `y` (endog) must be a **pd.Series** and `intercept` can be `True` or `False`, by default `True`. When `intercept` is `False`, the estimated beta does not include **intercept**. Also, you must specify the type of your function's parameters and output and It must raise an error if the inputs do not meet the requirements. The function's output must be a **pd.DataFrame** (`n`, 1) where `n` is the total number of regressors ( it includes the **Intercept** when `intercept` is `True`). The column should be named as **Coef.** and the row index should be named as the original name of the columns in `X` input. Your results should look like `output_example` being `X_input`, `y_input` and `intercept_input` your inputs. Apply your function to find $\widehat{\boldsymbol{\beta}}^{(OLS)}$ of the equation below. Use greene data.  **Hint: Use NumPy to generate the OLS beta and check [this link](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.set_index.html) to change the index name of a pd.Dataframe, [link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=69c80e1f2c1c268f0480a32932262201785a576c&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f363963383065316632633163323638663034383061333239333232363232303137383561353736632f4c6563747572655f352f4c6563747572655f352e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_5%2FLecture_5.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=96##5.1.7.).**

$$
\widehat{\boldsymbol{\beta}}^{(OLS)} = \left( \mathbf{X}^\top \mathbf{X}\right)^{-1} \mathbf{X}^\top \mathbf{Y}
$$

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

In [2]:
def beta_OLS( X, y , intercept = True ):
    np.linalg.inv(X.T @ X) @ (X.T @ y)

In [5]:
import pandas as pd
import numpy as np
from scipy import stats
greene = pd.read_csv(r"../../_data/christensen_greene_f4.csv")

In [6]:
q = greene.Q
cost = greene.COST
p1 = greene.PL
p2 = greene.PK
p3 = greene.PF

In [7]:
#data.frame
X = greene.loc[ :, ['Q', 'PL', 'PK', 'PF' ]  ].copy()

In [8]:
#series
y = greene.COST

#convertir a arraise, pasar a hacer la funci√≥n (encontrar B) y luego hacer el formato del resultado

#### Generate X

In [9]:
c = np.ones(len(y)) # Constant
xq = np.log(q) # lnq
xqq = np.log(q)*np.log(q) # lnq^2
xq1 = np.log(q)*np.log(p1) # lnq*lnp_1
xq2 = np.log(q)*np.log(p2) # lnq*lnp_2
xq3 = np.log(q)*np.log(p3) # lnq*ln_3
x1 = np.log(p1) # lnp_1
x2 = np.log(p2) # ln_p2
x3 = np.log(p3) # ln_p3
x11 = np.log(p1)*np.log(p1) # ln2p_1^2
x22 = np.log(p2)*np.log(p2) # ln2p_2^2
x33 = np.log(p3)*np.log(p3) # ln2p_3^2
x12 = np.log(p1)*np.log(p2) # lnp_1*lnp_2
x13 = np.log(p1)*np.log(p3) # lnp_1*lnp_3
x23 = np.log(p2)*np.log(p3) # lnp_2*lnp_3

In [10]:
X = np.asarray([c, xq,  xqq, xq1, xq2,
                xq3, x1,  x2,  x3,  x11, 
                x22, x33, x12, x13, x23]).T

In [11]:
betas = ["beta_0", "beta_q", "beta_qq", "beta_q1", "beta_q2",
          "beta_q3", "beta_1", "beta_2", "beta_3", "beta_11",
          "beta_22", "beta_33", "beta_12", "beta_13", "beta_23"]

In [12]:
X = pd.DataFrame( X, columns = betas )

In [13]:
# from DF or series to arrays
X_np = X.values

In [14]:
y_np = y.values

In [15]:
beta_np = np.linalg.inv(X_np.T @ X_np) @ (X_np.T @ y_np)

In [16]:
names_coef = X.columns.tolist()

In [17]:
pd.DataFrame( beta_np , index = names_coef , columns = ['Coef.'])

                Coef.
beta_0  -11594.503323
beta_q    -229.100337
beta_qq      9.435047
beta_q1      2.732296
beta_q2      0.344886
beta_q3     28.376189
beta_1    1897.775764
beta_2    1096.513066
beta_3     783.787508
beta_11    -88.575829
beta_22    -77.324715
beta_33     30.132116
beta_12    -10.429494
beta_13    -75.071261
beta_23   -112.546643

In [18]:
import statsmodels.formula.api as smf

In [19]:
results = smf.ols( 'np.log( COST ) ~ np.log( Q ) + np.log(PL)+ np.log(PF) + np.log(PK)', data = greene)

In [20]:
X_input = pd.DataFrame(results.exog, columns = results.exog_names).iloc[ : , 1: ]
y_input = pd.Series(results.endog , name = results.endog_names )
intercept_input = True

In [21]:
beta_OLS_output = results.fit().summary2().tables[1].iloc[ :, [0]]

In [22]:
beta_OLS_output

               Coef.
Intercept  -7.472227
np.log(Q)   0.838111
np.log(PL)  0.044258
np.log(PF)  0.713098
np.log(PK)  0.188449

In [23]:
y_input

0     -1.546463
1      1.112745
2      2.241337
3     -0.273648
4      0.814789
         ...
153    1.921222
154    1.324552
155    1.381834
156    3.407444
157    4.217391
Name: np.log(COST), Length: 158, dtype: float64

In [24]:
isinstance( y_input , pd.Series )

True

In [25]:
X_input

     np.log(Q)  np.log(PL)  np.log(PF)  np.log(PK)
0     2.079442    8.834842    2.890372    4.173541
1     6.767343    9.032763    3.047708    4.222840
2     7.252762    8.982297    3.726416    3.706032
3     4.174387    9.101852    3.351272    3.719481
4     5.686975    9.014131    3.668677    4.275832
..         ...         ...         ...         ...
153   6.852877    9.272579    3.940863    3.775057
154   5.932245    8.913583    3.509633    4.305685
155   5.968708    8.670093    3.798473    4.360394
156   8.578665    9.168125    3.733853    4.356811
157   9.630366    8.851676    3.245011    4.304403

[158 rows x 4 columns]

In [26]:
q = greene.Q
ct = greene.COST
p1 = greene.PL
p2 = greene.PK
p3 = greene.PF

y = np.log(ct) 
xq = np.log(q) # lnq
xqq = np.log(q)*np.log(q) # lnq^2
xq1 = np.log(q)*np.log(p1) # lnq*lnp_1
xq2 = np.log(q)*np.log(p2) # lnq*lnp_2
xq3 = np.log(q)*np.log(p3) # lnq*ln_3
x1 = np.log(p1) # lnp_1
x2 = np.log(p2) # ln_p2
x3 = np.log(p3) # ln_p3
x11 = np.log(p1)*np.log(p1) # ln2p_1^2
x22 = np.log(p2)*np.log(p2) # ln2p_2^2
x33 = np.log(p3)*np.log(p3) # ln2p_3^2
x12 = np.log(p1)*np.log(p2) # lnp_1*lnp_2
x13 = np.log(p1)*np.log(p3) # lnp_1*lnp_3
x23 = np.log(p2)*np.log(p3) # lnp_2*lnp_3

data = np.asarray([ y, xq,  xqq, xq1, xq2, xq3, x1,  x2,  x3,  x11, x22, x33, x12, x13, x23]).T  
columns_names = ["lnCost" , "beta_q", "beta_qq", "beta_q1", "beta_q2", "beta_q3", "beta_1", "beta_2", "beta_3", "beta_11", "beta_22", "beta_33", "beta_12", "beta_13", "beta_23"]

In [27]:
data_cp = pd.DataFrame( data, columns = columns_names )

In [28]:
X = data_cp.iloc[ :, 1: ]

In [29]:
X

,beta_q,beta_qq,beta_q1,beta_q2,beta_q3,beta_1,beta_2,beta_3,beta_11,beta_22,beta_33,beta_12,beta_13,beta_23
0,2.079442,4.324077,18.371538,8.678634,6.010359,8.834842,4.173541,2.890372,78.054437,17.418442,8.354249,36.872574,25.535978,12.063084
1,6.767343,45.796933,61.127805,28.577410,20.624885,9.032763,4.222840,3.047708,81.590803,17.832381,9.288523,38.143915,27.529222,12.869984
2,7.252762,52.602563,65.146469,26.878966,27.026810,8.982297,3.706032,3.726416,80.681665,13.734670,13.886177,33.288677,33.471777,13.810215
3,4.174387,17.425509,37.994654,15.526556,13.989505,9.101852,3.719481,3.351272,82.843703,13.834542,11.231021,33.854168,30.502777,12.464992
4,5.686975,32.341689,51.263140,24.316554,20.863674,9.014131,4.275832,3.668677,81.254554,18.282743,13.459189,38.542913,33.069932,15.686647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,6.852877,46.961918,63.543838,25.870001,27.006249,9.272579,3.775057,3.940863,85.980717,14.251056,15.530402,35.004515,36.541963,14.876983
154,5.932245,35.191533,52.877557,25.542382,20.820004,8.913583,4.305685,3.509633,79.451954,18.538927,12.317525,38.379082,31.283405,15.111376
155,5.968708,35.625470,51.749248,26.025919,22.671977,8.670093,4.360394,3.798473,75.170509,19.013039,14.428401,37.805024,32.933118,16.562842
156,8.578665,73.593485,78.650266,37.375623,32.031471,9.168125,4.356811,3.733853,84.054510,18.981805,13.941657,39.943790,34.232428,16.267692
157,9.630366,92.743942,85.244879,41.452974,31.250645,8.851676,4.304403,3.245011,78.352173,18.527884,10.530098,38.101181,28.723790,13.967836

In [30]:
y = data_cp.lnCost

In [31]:
y

0     -1.546463
1      1.112745
2      2.241337
3     -0.273648
4      0.814789
         ...
153    1.921222
154    1.324552
155    1.381834
156    3.407444
157    4.217391
Name: lnCost, Length: 158, dtype: float64

In [32]:
X_1 = X.copy()

X_1[ 'Intercept' ] = 1

columns = X_1.columns.tolist()

new_cols = [ columns[-1 ] ] + columns[0:-1]

X_1.loc[ : , new_cols ]

,Intercept,beta_q,beta_qq,beta_q1,beta_q2,beta_q3,beta_1,beta_2,beta_3,beta_11,beta_22,beta_33,beta_12,beta_13,beta_23
0,1,2.079442,4.324077,18.371538,8.678634,6.010359,8.834842,4.173541,2.890372,78.054437,17.418442,8.354249,36.872574,25.535978,12.063084
1,1,6.767343,45.796933,61.127805,28.577410,20.624885,9.032763,4.222840,3.047708,81.590803,17.832381,9.288523,38.143915,27.529222,12.869984
2,1,7.252762,52.602563,65.146469,26.878966,27.026810,8.982297,3.706032,3.726416,80.681665,13.734670,13.886177,33.288677,33.471777,13.810215
3,1,4.174387,17.425509,37.994654,15.526556,13.989505,9.101852,3.719481,3.351272,82.843703,13.834542,11.231021,33.854168,30.502777,12.464992
4,1,5.686975,32.341689,51.263140,24.316554,20.863674,9.014131,4.275832,3.668677,81.254554,18.282743,13.459189,38.542913,33.069932,15.686647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1,6.852877,46.961918,63.543838,25.870001,27.006249,9.272579,3.775057,3.940863,85.980717,14.251056,15.530402,35.004515,36.541963,14.876983
154,1,5.932245,35.191533,52.877557,25.542382,20.820004,8.913583,4.305685,3.509633,79.451954,18.538927,12.317525,38.379082,31.283405,15.111376
155,1,5.968708,35.625470,51.749248,26.025919,22.671977,8.670093,4.360394,3.798473,75.170509,19.013039,14.428401,37.805024,32.933118,16.562842
156,1,8.578665,73.593485,78.650266,37.375623,32.031471,9.168125,4.356811,3.733853,84.054510,18.981805,13.941657,39.943790,34.232428,16.267692
157,1,9.630366,92.743942,85.244879,41.452974,31.250645,8.851676,4.304403,3.245011,78.352173,18.527884,10.530098,38.101181,28.723790,13.967836

In [33]:
def beta_OLS ( X , y , intercept = True ): 
    
    if not isinstance( X ,  pd.DataFrame ):
            raise TypeError( "X  variable do not meet the requirements")

    if not isinstance( y ,  pd.Series ):
            raise TypeError( "y  variable do not meet the requirements")
            
    if intercept == True :
        X[ 'Intercept' ] = 1

        columns = X.columns.tolist()

        new_cols = [ columns[-1 ] ] + columns[0:-1]

        X = X.loc[ : , new_cols ]
        
    else: 
        pass
    
    
    X_np = X.values
    y_np = y.values.reshape( -1, 1 )
        
  
    result_form = np.linalg.inv(X_np.T @ X_np) @ (X_np.T @ y_np) 
    
    index_names = X.columns.tolist()
    
    result = pd.DataFrame( result_form , index = index_names , columns = ['Coef.'])
    
    return result

In [34]:
beta_OLS( X , y, intercept = True)

               Coef.
Intercept -76.259258
beta_q     -1.080425
beta_qq     0.026489
beta_q1     0.131041
beta_q2     0.040144
beta_q3     0.058652
beta_1     14.718292
beta_2      6.380797
beta_3     -0.894733
beta_11    -0.769264
beta_22    -0.163707
beta_33    -0.036753
beta_12    -0.572050
beta_13     0.162283
beta_23    -0.024025

2. Generate a new function named **var_OLS**. This function must return the estimated variance for OLS. The inputs of this function should be `X`, `y`, and `intercept`. `X` (covariables) must be a **pd.DataFrame** and `y` (endog) must be a **pd.Series** and `intercept` can be `True` or `False`, by default `True`. When `intercept` is `False`, the estimated variance does not include **intercept** in the `X` regressor. Also, you must specify the type of your function's parameters and output and It must raise an error if the inputs do not meet the requirements. The output of the function should look like `var_ols` where the columns and the index use the name of `X` columns.  Apply your function to find $\mathbb{V}{\rm ar} (\widehat{\boldsymbol{\beta}}^{(OLS)})$ of the equation below. Use greene data.  **Hint: Use numpy, `def` function, and `columns` method, [link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=69c80e1f2c1c268f0480a32932262201785a576c&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f363963383065316632633163323638663034383061333239333232363232303137383561353736632f4c6563747572655f352f4c6563747572655f352e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_5%2FLecture_5.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=96##5.1.7.).**


$$
\begin{aligned}
\mathbb{V}{\rm ar} (\widehat{\boldsymbol{\beta}}^{(OLS)}) = 
\sigma^2 \left( \mathbf{X}^\top  \mathbf{X}\right)^{-1}
\end{aligned}
$$

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

In [35]:
var_OLS_output = results.fit().cov_params()

In [36]:
var_OLS_output

            Intercept  np.log(Q)  np.log(PL)  np.log(PF)  np.log(PK)
Intercept    1.130476   0.001167   -0.104116    0.004928   -0.052305
np.log(Q)    0.001167   0.000088   -0.000179    0.000055   -0.000111
np.log(PL)  -0.104116  -0.000179    0.011198   -0.001794    0.002636
np.log(PF)   0.004928   0.000055   -0.001794    0.004142   -0.000782
np.log(PK)  -0.052305  -0.000111    0.002636   -0.000782    0.007581

In [37]:
q = greene.Q
ct = greene.COST
p1 = greene.PL
p2 = greene.PK
p3 = greene.PF

y = np.log(ct) 
xq = np.log(q) # lnq
xqq = np.log(q)*np.log(q) # lnq^2
xq1 = np.log(q)*np.log(p1) # lnq*lnp_1
xq2 = np.log(q)*np.log(p2) # lnq*lnp_2
xq3 = np.log(q)*np.log(p3) # lnq*ln_3
x1 = np.log(p1) # lnp_1
x2 = np.log(p2) # ln_p2
x3 = np.log(p3) # ln_p3
x11 = np.log(p1)*np.log(p1) # ln2p_1^2
x22 = np.log(p2)*np.log(p2) # ln2p_2^2
x33 = np.log(p3)*np.log(p3) # ln2p_3^2
x12 = np.log(p1)*np.log(p2) # lnp_1*lnp_2
x13 = np.log(p1)*np.log(p3) # lnp_1*lnp_3
x23 = np.log(p2)*np.log(p3) # lnp_2*lnp_3

data = np.asarray([ y, xq,  xqq, xq1, xq2, xq3, x1,  x2,  x3,  x11, x22, x33, x12, x13, x23]).T  
columns_names = ["lnCost" , "beta_q", "beta_qq", "beta_q1", "beta_q2", "beta_q3", "beta_1", "beta_2", "beta_3", "beta_11", "beta_22", "beta_33", "beta_12", "beta_13", "beta_23"]

In [38]:
data_cp = pd.DataFrame( data, columns = columns_names )

In [39]:
X = data_cp.iloc[ :, 1: ]

In [40]:
y = data_cp.lnCost

In [41]:
X_1 = X.copy()

X_1[ 'Intercept' ] = 1

columns = X_1.columns.tolist()

new_cols = [ columns[-1 ] ] + columns[0:-1]

X_1.loc[ : , new_cols ]

,Intercept,beta_q,beta_qq,beta_q1,beta_q2,beta_q3,beta_1,beta_2,beta_3,beta_11,beta_22,beta_33,beta_12,beta_13,beta_23
0,1,2.079442,4.324077,18.371538,8.678634,6.010359,8.834842,4.173541,2.890372,78.054437,17.418442,8.354249,36.872574,25.535978,12.063084
1,1,6.767343,45.796933,61.127805,28.577410,20.624885,9.032763,4.222840,3.047708,81.590803,17.832381,9.288523,38.143915,27.529222,12.869984
2,1,7.252762,52.602563,65.146469,26.878966,27.026810,8.982297,3.706032,3.726416,80.681665,13.734670,13.886177,33.288677,33.471777,13.810215
3,1,4.174387,17.425509,37.994654,15.526556,13.989505,9.101852,3.719481,3.351272,82.843703,13.834542,11.231021,33.854168,30.502777,12.464992
4,1,5.686975,32.341689,51.263140,24.316554,20.863674,9.014131,4.275832,3.668677,81.254554,18.282743,13.459189,38.542913,33.069932,15.686647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1,6.852877,46.961918,63.543838,25.870001,27.006249,9.272579,3.775057,3.940863,85.980717,14.251056,15.530402,35.004515,36.541963,14.876983
154,1,5.932245,35.191533,52.877557,25.542382,20.820004,8.913583,4.305685,3.509633,79.451954,18.538927,12.317525,38.379082,31.283405,15.111376
155,1,5.968708,35.625470,51.749248,26.025919,22.671977,8.670093,4.360394,3.798473,75.170509,19.013039,14.428401,37.805024,32.933118,16.562842
156,1,8.578665,73.593485,78.650266,37.375623,32.031471,9.168125,4.356811,3.733853,84.054510,18.981805,13.941657,39.943790,34.232428,16.267692
157,1,9.630366,92.743942,85.244879,41.452974,31.250645,8.851676,4.304403,3.245011,78.352173,18.527884,10.530098,38.101181,28.723790,13.967836

In [42]:
def var_OLS ( X , y , intercept = True ): 
    
    if not isinstance( X ,  pd.DataFrame ):
            raise TypeError( "X  variable do not meet the requirements")

    if not isinstance( y ,  pd.Series ):
            raise TypeError( "y  variable do not meet the requirements")
            
    if (intercept == True) :
        X[ 'Intercept' ] = 1

        columns = X.columns.tolist()

        new_cols = [ columns[-1 ] ] + columns[0:-1]

        X = X.loc[ : , new_cols ]

    else: 
        pass
    
    index_names = X.columns.tolist()
    X_np = X.values
    y_np = y.values.reshape( -1, 1 )
        
    
    Œ≤_ols = np.linalg.inv(X_np.T @ X_np) @ (X_np.T @ y_np)
    res = y_np - X_np @ Œ≤_ols
    sigma_sqr = ( res.T @ res) / (len(y_np)-(len(X_np[0])+1))
    
    result_form = sigma_sqr * np.linalg.inv(X_np.T @ X_np) 
    result = pd.DataFrame(result_form)
    result.columns = index_names
    result.index = index_names
    result
    #result = pd.DataFrame( result_form , index = index_names , columns = ['Coef.'])
  
  
    return result

In [43]:
var_OLS( X, y , intercept = False)

,beta_q,beta_qq,beta_q1,beta_q2,beta_q3,beta_1,beta_2,beta_3,beta_11,beta_22,beta_33,beta_12,beta_13,beta_23
beta_q,0.144922,0.000318,-0.013829,-0.006264,0.000163,-0.155886,-0.075921,0.153569,0.014141,-0.001401,0.000427,0.016561,-0.015598,-0.003696
beta_qq,0.000318,0.000006,-0.000037,-0.000011,-0.000005,-0.000624,-0.000166,0.001012,0.000053,-0.000032,0.000011,0.000075,-0.000094,-0.000048
beta_q1,-0.013829,-0.000037,0.001506,0.000358,-0.000172,0.017240,0.003182,-0.015704,-0.001794,0.000359,0.000015,-0.000969,0.001920,-0.000084
beta_q2,-0.006264,-0.000011,0.000358,0.000911,-0.000195,0.006945,0.003830,-0.008866,-0.000113,-0.000167,-0.000027,-0.001882,0.000078,0.002268
beta_q3,0.000163,-0.000005,-0.000172,-0.000195,0.000671,-0.005582,0.009692,0.003492,0.000471,-0.000145,-0.000172,-0.000270,-0.000186,-0.001416
beta_1,-0.155886,-0.000624,0.017240,0.006945,-0.005582,3.099933,-4.010500,-2.836028,-0.264318,0.221121,0.023222,0.172752,0.222096,0.172234
beta_2,-0.075921,-0.000166,0.003182,0.003830,0.009692,-4.010500,9.557357,-0.975415,0.343415,-0.465890,0.000321,-0.618492,0.126268,-0.056854
beta_3,0.153569,0.001012,-0.015704,-0.008866,0.003492,-2.836028,-0.975415,8.253547,0.236064,-0.013226,-0.061846,0.269193,-0.698233,-0.376422
beta_11,0.014141,0.000053,-0.001794,-0.000113,0.000471,-0.264318,0.343415,0.236064,0.024181,-0.017835,-0.000940,-0.018514,-0.022037,-0.008486
beta_22,-0.001401,-0.000032,0.000359,-0.000167,-0.000145,0.221121,-0.465890,-0.013226,-0.017835,0.041111,-0.001443,0.017443,0.006160,-0.007328
beta_33,0.000427,0.000011,0.000015,-0.000027,-0.000172,0.023222,0.000321,-0.061846,-0.000940,-0.001443,0.008464,-0.000513,-0.001410,0.004628
beta_12,0.016561,0.000075,-0.000969,-0.001882,-0.000270,0.172752,-0.618492,0.269193,-0.018514,0.017443,-0.000513,0.058774,-0.023413,-0.012336
beta_13,-0.015598,-0.000094,0.001920,0.000078,-0.000186,0.222096,0.126268,-0.698233,-0.022037,0.006160,-0.001410,-0.023413,0.074275,0.010088
beta_23,-0.003696,-0.000048,-0.000084,0.002268,-0.001416,0.172234,-0.056854,-0.376422,-0.008486,-0.007328,0.004628,-0.012336,0.010088,0.062335

3. Generate a new function named as `reg_OLS` that uses your previos functions `beta_OLS` and `var_OLS` to return an ouput similar to `reg_OLS_output`. The inputs of this function should be `X`, `y`, and `intercept`. `X` (covariables) must be a **pd.DataFrame** and `y` (endog) must be a **pd.Series** and `intercept` can be `True` or `False`, by default `True`. When `intercept` is `False`, the output does not include **intercept**. Also, you must specify the type of your function's parameters and output and It must raise an error if the inputs do not meet the requirements. Apply your function to the equation below. Use greene data.**Hint: Use numpy, `def` function, and `columns` method, [link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=69c80e1f2c1c268f0480a32932262201785a576c&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f363963383065316632633163323638663034383061333239333232363232303137383561353736632f4c6563747572655f352f4c6563747572655f352e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_5%2FLecture_5.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=96##5.1.7.).**

$$
\begin{aligned} 
lnCT &= \beta_{0}+\beta_{q}lnq+ \beta_{qq}(lnq)^2+\beta_{q1}lnqlnp_1+\beta_{q2}lnqlnp_2+ \beta_{q3}lnqlnp_{3} +\beta_{1}lnp_1+\beta_{2}lnp_2+ \beta_{3}lnp_3 \\
& + \beta_{11}(lnp_{1})^2+ \beta_{22}(lnp_{2})^2+ \beta_{33}(lnp_{3})^2 + \beta_{12}lnp_{1}lnp_{2}+ \beta_{13}lnp_{1}lnp_{3}+\beta_{23}lnp_{2}lnp_{3} 
\end{aligned}
$$

$$\widehat{\boldsymbol{\varepsilon}} = \mathbf{Y} - \mathbf{X} \widehat{\boldsymbol{\beta}}_{RLS}$$

$$\widehat{\sigma}^2_{RLS} = \dfrac{\widehat{\boldsymbol{\varepsilon}}^\top \widehat{\boldsymbol{\varepsilon}}}{N - (k+1 - M)}$$

In [44]:
reg_OLS_output = results.fit().summary2().tables[1]
reg_OLS_output

               Coef.  Std.Err.          t          P>|t|    [0.025    0.975]
Intercept  -7.472227  1.063238  -7.027801   6.490901e-11 -9.572750 -5.371704
np.log(Q)   0.838111  0.009387  89.284492  6.942379e-134  0.819566  0.856656
np.log(PL)  0.044258  0.105820   0.418238   6.763595e-01 -0.164798  0.253314
np.log(PF)  0.713098  0.064355  11.080610   2.552882e-21  0.585958  0.840238
np.log(PK)  0.188449  0.087066   2.164432   3.198211e-02  0.016442  0.360457

In [51]:
def reg_OLS ( X, y, intercept = True ):
    
    if not isinstance( X,  pd.DataFrame ):
            raise TypeError( "X  variable do not meet the requirements." )

    if not isinstance( y,  pd.Series ):
            raise TypeError( "y variable do not meet the requirements." )
            
    if (intercept == True) :
        X[ 'Intercept' ] = 1
        
        columns = X.columns.tolist()
        new_cols = [ columns[-1 ] ] + columns[0:-1]
        X = X.loc[ : , new_cols ]
    
    else: 
        pass

    index_names = X.columns.tolist()

    coef = beta_OLS( X, y, intercept = True )       
    coef = coef.values
    
    var = var_OLS( X, y, intercept = True )       
    var = var.values
    
    st_error = np.sqrt(np.diag (var))
        
    
    t_value = coef.ravel()/np.sqrt( np.diag( var ))
    
    N_OBS = X.shape[ 0 ] 
    k = len(coef)
    
    p_tvalue = 2 * stats.t.cdf( x = - np.abs( t_value ), df =  N_OBS - k) 
    
    bound = st_error * stats.t.ppf( ( 1 + 0.95 ) / 2., N_OBS - k )
    up_bd = coef.ravel() + bound 
    lw_bd = coef.ravel() - bound

    result1 = { "Coef."    : coef.ravel(),  
                "Std.Err." : st_error.ravel(),
                "t"        : t_value.ravel(),
                "P>|t|"    : p_tvalue.ravel(),
                "[0.025"   : lw_bd.ravel(),
                "0.975]"   : up_bd.ravel()
                }
    
    result = pd.DataFrame( result1 , index = index_names )
    
    return result

In [53]:
reg_OLS( X, y, intercept = False)

,Coef.,Std.Err.,t,P>|t|,[0.025,0.975]
beta_q,-76.259258,38.414588,-1.985164,4.903913e-02,-152.193074,-0.325442
beta_qq,-1.080425,0.376865,-2.866875,4.772492e-03,-1.825372,-0.335479
beta_q1,0.026489,0.002365,11.200691,2.676173e-21,0.021814,0.031164
beta_q2,0.131041,0.038419,3.410865,8.420562e-04,0.055099,0.206982
beta_q3,0.040144,0.029896,1.342798,1.814650e-01,-0.018951,0.099240
beta_1,0.058652,0.025639,2.287609,2.362725e-02,0.007972,0.109333
beta_2,14.718292,7.109726,2.070163,4.023588e-02,0.664552,28.772032
beta_3,6.380797,4.545127,1.403877,1.625236e-01,-2.603520,15.365113
beta_11,-0.894733,2.852303,-0.313688,7.542152e-01,-6.532859,4.743393
beta_22,-0.769264,0.347418,-2.214228,2.839613e-02,-1.456003,-0.082524
beta_33,-0.163707,0.221129,-0.740324,4.603169e-01,-0.600811,0.273397
beta_12,-0.036753,0.091339,-0.402376,6.880080e-01,-0.217303,0.143797
beta_13,-0.572050,0.373197,-1.532836,1.275257e-01,-1.309747,0.165646
beta_23,0.162283,0.271021,0.598783,5.502648e-01,-0.373442,0.698008
Intercept,-0.024025,0.247195,-0.097189,9.227122e-01,-0.512653,0.464604

4. Generate a new function named as `restricted_OLS` that uses your previos functions `beta_OLS` and `var_OLS` to return an ouput similar to `reg_OLS_output`. The inputs of this function should be `X`, `y`,  `L`, `r`, and `intercept`. `X` (covariables) must be a **pd.DataFrame** and `y` (endog) must be a **pd.Series**,  `L` (coef) must be a **np.array**, `r` must be a **np.array**,  and `intercept` can be `True` or `False`.  When `intercept` is `False`, the estimated beta does not include **intercept**. Also, you must specify the type of your function's parameters and output and It must raise an error if the inputs do not meet the requirements. The ouput of this function should look like `reg_OLS_ouput`. Apply your function to the equation below. Use greene data.
 **Hint: Use numpy, `def` function, and `columns` method, [link](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=69c80e1f2c1c268f0480a32932262201785a576c&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f363963383065316632633163323638663034383061333239333232363232303137383561353736632f4c6563747572655f352f4c6563747572655f352e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_5%2FLecture_5.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=96##5.1.7.).**

$$
\hat{\boldsymbol{\beta}}^{(RLS)} =\hat{\boldsymbol{\beta}}^{(OLS)} - \left( \boldsymbol{X}^\top \boldsymbol{X} \right)^{-1} \boldsymbol{L}^\top \left( \boldsymbol{L}\left( \boldsymbol{X}^\top \boldsymbol{X} \right)^{-1} \boldsymbol{L}^\top \right)^{-1} \left( \boldsymbol{L}\widehat{\boldsymbol{\beta}}^{(OLS)} - \boldsymbol{r} \right)
$$

In [104]:
L = np.array(([0,0,0,0,0,1,1,1,0,0,0,0,0,0],
              [0,0,1,1,1,0,0,0,0,0,0,0,0,0],
              [0,0,0,0,0,0,0,0,1,0,0,1,1,0],
              [0,0,0,0,0,0,0,0,0,1,0,1,0,1],
              [0,0,0,0,0,0,0,0,0,0,1,0,1,1]))

r = np.array([1, 0, 0, 0, 0])

In [114]:
def restricted_OLS ( X, y, L, r, intercept = True ):
    
    if not isinstance( X ,  pd.DataFrame ):
            raise TypeError( "X variable do not meet the requirements." )

    if not isinstance( y ,  pd.Series ):
            raise TypeError( "y variable do not meet the requirements." )
            
    if not isinstance( L ,  np.ndarray ):
            raise TypeError( "L variable do not meet the requirements.")
            
    if not isinstance( r ,  np.ndarray ):
            raise TypeError( "r variable do not meet the requirements.")
            
    if (intercept == True) :
        X[ 'Intercept' ] = 1
        
        columns = X.columns.tolist()

        new_cols = [ columns[-1 ] ] + columns[0:-1]

        X = X.loc[ : , new_cols ]

    else:
        pass
    
    index_names = X.columns.tolist()
    X_np = X.values
    y_np = y.values.reshape( -1, 1 )
   
    

    # beta OLS
    
    coef = beta_OLS( X, y, intercept = True ).values
    #coef  = np.linalg.inv(X_np.T @ X_np) @ (X_np.T @ y_np)
    
    # beta RLS
    Œ≤_rls = coef - np.linalg.inv(X_np.T @ X_np) @ L.T @ np.linalg.inv( L @ np.linalg.inv(X_np.T @ X_np) @ L.T) @ (L @ coef - r )

    # Var
    var = var_OLS ( X, y, intercept = True ).values
    var_Œ≤_rls = var - var @ L.T @ np.linalg.inv( L @ np.linalg.inv(X_np.T @ X_np) @ L.T) @ L @ np.linalg.inv(X_np.T @ X_np)
   # var_Œ≤_rls = var_Œ≤_rls.values
    
    desv = np.sqrt( np.diag( var_Œ≤_rls))
   # desv = desv.values

    t_value = coef.ravel()/np.sqrt( np.diag( var_Œ≤_rls )) 

    N_OBS = X.shape[ 0 ]
    k = len(coef)
    P = r.shape [ 0 ] 
    p_tvalue = 2 * stats.t.cdf( x = - np.abs( t_value ), df =  N_OBS - k - P) 
    
    bound = st_error * stats.t.ppf( ( 1 + 0.95 ) / 2., N_OBS - k - P)
    up_bd = coef.ravel() + bound 
    lw_bd = coef.ravel() - bound
   

    result1 = { "Coef."    : Œ≤_rls.ravel(),  
                "Std.Err." : desv.ravel(),
                "t"        : t_value.ravel(),
                "P>|t|"    : p_tvalue.ravel(),
                "[0.025"   : lw_bd.ravel(),
               "0.975]"   : up_bd.ravel()
                }

    result = pd.DataFrame( result1 , index = columns )

    return result

In [119]:
restricted_OLS ( X, y, L, r )

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 14 is different from 15)

5. Generate a new class named `RegClass`. The initial attributes of your class must be `X`, `y`, and `intercept`. `X` (covariables) must be a **pd.DataFrame** and `y` (endog) must be a **pd.Series** and `intercept` can be `True` or `False`, by default `True`. Also, you must specify the type of your class' parameters, and output and It must raise an error if the inputs do not meet the requirements.  This class should have two methods: `reg_OLS` and `restricted_OLS` (You can add more if you think it is necessary). These methods should return the same output as the previously defined functions with the same name. The method `reg_OLS` does not need an extra parameter to be executed. After executing the method `reg_OLS`, any user should access the following attributes: `beta_OLS` and `var_OLS`. They should look like `beta_OLS_output` and `var_OLS_output`. The `restricted_OLS` method needs two extra parameters before being executed, `L` and `r`. They refer to the restrictions. After running the method `restricted_OLS`, any user should access the following attributes: `beta_OLS`, `var_OLS`, `rest_beta_OLS`, and `rest_var_OLS`. These attributes refer to the beta and variance estimated using OLS and restricted OLS. They should look like  `beta_OLS_output` and `var_OLS_output`. Fix all the methods and attributes. No user should be able to change them. **Hint: Use [lecture 6](https://notebooks.githubusercontent.com/view/ipynb?browser=chrome&color_mode=auto&commit=69c80e1f2c1c268f0480a32932262201785a576c&device=unknown_device&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f616c6578616e6465727175697370652f4469706c6f6d61646f5f505543502f363963383065316632633163323638663034383061333239333232363232303137383561353736632f4c6563747572655f362f4c6563747572655f362e6970796e62&logged_in=true&nwo=alexanderquispe%2FDiplomado_PUCP&path=Lecture_6%2FLecture_6.ipynb&platform=windows&repository_id=427747212&repository_type=Repository&version=96#6.3.).**

In [49]:
beta_OLS_output

               Coef.
Intercept  -7.472227
np.log(Q)   0.838111
np.log(PL)  0.044258
np.log(PF)  0.713098
np.log(PK)  0.188449

In [81]:
class RegClass (object):

    def __init__( self, x: pd.DataFrame , y: pd.Series , intercept = True):
        
        if not isinstance( X ,  pd.DataFrame ):
            raise TypeError( "X  variable do not meet the requirements")

        if not isinstance( y ,  pd.Series ):
            raise TypeError( "Y  variable do not meet the requirements")
        
        self.x = X
        self.y = Y
        self.intercept = intercept
        
        if (intercept == True) :
            self.X[ 'Intercept' ] = 1
            columns = self.X.columns.tolist()
            new_cols = [ columns[-1 ] ] + columns[0:-1]
            self.X = self.X.loc[ : , new_cols ]

        else:
            pass
        
        
        self.X_np = self.X.values
        self.y_np = self.y.values.reshape( -1, 1 )
        self.columns = self.X.columns.tolist()

    
    def beta_OLS_aux ( self ):
        X_np = self.X.values
        y_np = self.y.values
        beta_OLS = np.linalg.inv(X_np.T @ X_np) @ (X_np.T @ y_np)
        
        
        names_coef = self.columns
        beta_OLS_output = pd.DataFrame( beta_np , index = names_coef , columns = ['Coef.'])
        self.beta_OLS = beta_OLS_output

    def rest_var_OLS (self):     
        X_np = self.X.values
        y_np = self.y.values    
        
        self.reg_beta_OLS ()
        beta_OLS = self.beta_OLS.values.reshape( -1, 1 )
        Œ≤_rls = coef - np.linalg.inv(X_np.T @ X_np) @ L.T @ np.linalg.inv( L @ np.linalg.inv(X_np.T @ X_np) @ L.T) @ (L @ coef - r )
        Œ≤_rls = Œ≤_rls.value
        
        st_error = self.np.sqrt(np.diag (var))
        N = X.shape [ 0 ]
        total_parameters = X.shape [1]
            
        var_OLS = np.linalg.inv(X_np.T @ X_np) 
        
        index_names = self.columns
        var_OLS_output = pd.DataFrame( var_OLS , index = names_coef , columns = names_coef)
        self.var_OLS = var_OLS_output
        
    def reg_OLS (self, L, r):
        
        self.reg_beta_OLS()
        self.reg_var_OLS ()
        X = self.X_np
        
        beta_OLS = self.beta_OLS.values.reshape (-1,1)
        var_OLS = self.var_OLS.values
        
        beta_se = np.sqrt ( np.diaf (var_OLS) )
        
        t_stat = beta_OLS.ravel () / np.sqrt (np.diag (var_OLS))
        
        N_OBS = X.shape[ 0 ] 
        k = len(coef)
        P = L.shape [ 0 ] 
        p_tvalue = 2 * stats.t.cdf( X = - np.abs( t_value ), df =  N_OBS - k - P) 

        bound = st_error * stats.t.ppf( ( 1 + 0.95 ) / 2., N_OBS - k - P)
        up_bd = coef.ravel() + bound 
        lw_bd = coef.ravel() - bound
    
        result1 = { "Coef."    : Œ≤_rls.ravel(),  
                    "Std.Err." : desv.ravel(),
                    "t"        : t_value.ravel(),
                    "P>|t|"    : p_tvalue.ravel(),
                    "[0.025"   : lw_bd.ravel(),
                    "0.975]"   : up_bd.ravel()
                    }

        reg_OLS = pd.DataFrame( result1 , index = index_names )

        return reg_OLS